body {
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: #283645;
  font-family: "Open Sans", Arial, sans-serif;
  background: #ffffff;
  font-style: normal;
}

@import "normalize";

@import "variables";

@import "mixin";

@import "page-header";

@import "logo";

@import "main-nav";

@import "promo-slogan";

@import "promo-stats__text";

@import "intro-text";

@import "form-group";

@import "download-app";

@import "advantages";

@import "reviews";

@import "reviews-item";

@import "users-photos";

@import "users-photos-item";

@import "users-photos__post";

@import "range-filters";

@import "price";

@import "price__list";

@import "contacts";

@import "page-footer";

@import "user-personal-info";

@import "popups";

