.advantages {
  background: #f2f2f2;
  &__item {
    text-align: center;
   }
}
.advantages__item-title {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
}
.advantages__item-description {
  font-size: 14px;
  color: #283645;
}
.advantages-picture {
  display: none;
}
.advantages-picture--shown {
  display: block;
}
.advantages-picture {
  text-align: center;
}
.advantages__container {
  @include container;
}
@media #{$mobile-width-only} {
  .block-24hour {
    display: none;
  }
}
@media #{$tablet-width} {
 .advantages {
   &__container {
     @include clearfix;
   }
   &__wrapper {
     float: right;
     width: 310px;
   }
   &-picture {
     float: left;
   }
   .advantages__item {
     text-align: left;
   }
 }
  .block-24hour {

    background: aquamarine;
    opacity: .8;
  }
  .block-24hour__wrapper {
    @include container;
    @include clearfix;
  }
  .block-24hour__item {
    float: right;
    width: 310px;
  }
  .block-24hour__picture {
    float: left;

  }
  .block-24hour__picture img {
    display: block;
  }
  .block-24hour__item-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    color: #000000;
  }
  .block-24hour__item-description {
    font-size: 14px;
    color: #283645;
  }
  .block-24hour__item__link {
    color: #d22856;
    font-size: 14px;
  }
}
@media #{$desktop-width} {
  .advantages__container {
    @include container;
    display: flex;
    flex-direction: column;

  }
  .advantages__wrapper {
    float: none;
    @include container;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }
  .advantages__item {
    width: 300px;
  }
  .advantages-picture {
    float: none;
    display: block;
  }
  .advantages-picture__wrapper {
    @include container;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    order: -1;
  }
}

