.download-app {
  //border: 2px solid navajowhite;
  background-color: $bg-darkblue;
}

.download-app__btn {
  display: block;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  border: 3px solid #ffffff;
  border-radius: 50px;
  padding: 15px 0;
  text-decoration: none;
}
.download-app__btn:hover {
  background: #ffffff;
  color: #d22856;
}
.download-app__btn:active {

}
.download-app__wrapper {
  @include clearfix;
  width: 210px;

}
.download-app__link {
  display: block;
  width: 33.3%;
  text-align: center;
}
.download-app__link--android {
  float: left;
}
.download-app__link--apple {
  float: left;
}
.download-app__link--windows {
  float: right;
}
.download-app__description {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 100;
}

@media #{$tablet-width} {
  .download-app {
    width: 300px;
  }
}
