.logo {
  float: left;
}
.logo a {
  display: block;
}
.logo img {
  display: block;
}
.logo--top {
  border: 2px solid #f1b8e7;
  height: 25px;
  width: 80px;
  margin-left: 20px;
}

.logo--bottom {
  width: 150px;
  height: 50px;
}
