.logo a {
  display: block;
}
.logo img {
  display: block;
}
.logo--top img {
  width: 75px;
  height: 23px;
}
/*
.logo--bottom img {
  width: 150px;
  height: 50px;
}*/

@media #{$tablet-width} {
  .logo--bottom {
    width: 33.3333%;
  }
}
