.main-nav {
  display: none;
  //position: relative;
}
.main-nav__toggle {
  //float: right;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  display: block;
  width: 50px;
  height: 24px;

  font-size: 0;

  background-color: $bg-darkblue;
  cursor: pointer;
  margin: 43px 0;
}
@media #{$mobile-width-only} {
  .main-nav__toggle {
    margin: 21px 0;
  }
}
.main-nav__toggle--closed::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;

  width: 50px;
  height: 4px;

  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff,
  0 16px 0 0 #ffffff;
}
@media #{$desktop-width} {
  .main-nav {
    display: block;
  }
  .main-nav__list {
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
    //float: right;
    //width: 645px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-nav__item {
    display: inline-block;
    vertical-align: top;
  }
  .main-nav__link {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    padding: 47px 42px;
  }
  .main-nav__toggle {
    float: none;
    display: none;
  }
  .main-nav__link:active {
    opacity: .3;
  }
  .main-nav__link:active::after {
    display: none;
  }
  .main-nav__link:hover {
    position: relative;
  }
  .main-nav__link:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 5px;
    background: white;
  }


}
