.main-nav {
  display: none;
}
.main-nav__toggle {
  float: right;
}
@media #{$desktop-width} {
  .main-nav {
    display: block;
  }
  .main-nav__list {
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
    float: right;
    width: 645px;
  }
  .main-nav__item {
    display: inline-block;
    vertical-align: top;
  }
  .main-nav__link {
    display: block;
    text-align: center;
    text-decoration: none;
  }
  .main-nav__toggle {
    float: none;
    display: none;
  }
}
