.main-nav {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 66px;
  width: 100%;
}
.main-nav__list {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}
.main-nav__item {
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000101;
}

.main-nav__link {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  color: #ffffff;
  background-color: $bg-darkblue;

  padding: 15px 0;
}
.main-nav__toggle {
  position: relative;

  z-index: 2;

  display: block;
  width: 50px;
  height: 24px;

  font-size: 0;

  background-color: $bg-darkblue;
  cursor: pointer;
}

.main-nav__toggle--closed::before {
  content: "";
  position: absolute;


  width: 50px;
  height: 4px;

  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff,
  0 16px 0 0 #ffffff;
}
@media #{$tablet-width} and (max-width: 1200px) {
  .main-nav {
    top: 110px;
  }
}
@media #{$desktop-width} {
  .main-nav {
    display: block;
    @include container-fluid;
  }
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main-nav__item {
    display: inline-block;
    vertical-align: top;
    border-bottom: none;
    border-top: none;
  }
  .main-nav__link {
    text-transform: none;
    font-size: 18px;
    line-height: 32px;
    font-weight: normal;
    color: #ffffff;
    background: none;
    padding: 15px 0;
  }

  .main-nav__toggle {
    display: none;
  }
  .main-nav__link:active {
    opacity: .3;
  }
  .main-nav__link:active::after {
    display: none;
  }
  .main-nav__link:hover {
    position: relative;
  }
  .main-nav__link:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 5px;
    background: white;
  }
}
