.page-header__top {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 21px 0;
  background-color: $bg-darkblue;
  //opacity: .3;
  z-index: 10;
}
.container {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
@media #{$tablet-width}  {
  .page-header__top {
    padding-top: 43px;
    padding-bottom: 42px;
  }
}
