.page-footer__social {
  border: 2px solid salmon;
  width: 170px;
}
.social-link {
  display: inline-block;
}

@media #{$tablet-width} {
  .page-footer__social {
    float: left;
    margin-left: 50px;
    text-align: center;
  }
  .social-links {
    max-width: 176px;

  }
}

/*@media #{$desktop-width} {
  .page-footer__social {
    float: left;
    margin-left: 50px;
    text-align: center;
  }
  .social-links {
    max-width: 176px;
  }
}*/
