@media #{$mobile-width-only} {
  .side__list {
    display: none;
  }
  .price__list {
    display: none;
  }
  .price__list {
    border-left: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
  }
}
.price__list,
.side__list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: auto;
  border-right: 2px solid #e5e5e5;
  order: -1;
}
.side__list {
  border-left: none;
}
.side__item {
  border-left: 2px solid #e5e5e5;
}
.price__list:last-child {
  border-right: 2px solid #e5e5e5;
}
.side__item:first-child {
  margin-top: 82px;
  border-top: 2px solid #e5e5e5;;
}
.price__item,
.side__item {
  border-bottom: 2px solid #e5e5e5;
  padding: 14px 0 14px 22px;
  text-transform: uppercase;
}
.price__item-amount,
.side__item-amount {
  font-size: 24px;
  color: #ffffff;
  font-weight: 100;
  margin: 0;
}
.price__item div,
.side__item div {
  font-size: 14px;
  line-height: 30px;

  color: #283645;
  text-align: left;
  margin: 0;
}
.price__item--shown,
.side__item--hidden{
  background: $bg-darkblue;
  text-align: center;
}
.price__item.price__item--shown {
  position: relative;

}
.price__item.price__item--shown::after {
  position: absolute;
  //content: "";
  top: 0;
  right: 0;
  width: 74px;
  height: 73px;
  background: url("../img/bg-hit.svg") no-repeat;
}
.price__item-name,
.side__item-name {
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

@media #{$tablet-width} {
  .price__list,
  .side__list {
    width: 150px;
  }
  .price__item div {
    display: none;
  }
  .price__item,
  .side__item {
    text-transform: none;
  }
  .side__item-hidden {
    background: none;
  }
}

@media #{$desktop-width} {
  .price__list,
  .side__list {
    width: 235px;
    display: block;
  }
}
