@media #{$mobile-width-only} {
  .price__list {
    display: none;
    order: -1;
  }
}
.price__list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: auto;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}
.price__item {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #283645;
  border-bottom: 2px solid #e5e5e5;
  text-align: left;
  padding: 14px 0 14px 22px;
}
.price__item--shown {
  background: $bg-darkblue;
  text-align: center;
}
.price__item-name {
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}
.price__item-amount {
  font-size: 24px;
  color: #ffffff;
  font-weight: 100;
  margin: 0;
}


@media #{$desktop-width} {
  .price__list {
    width: 235px;
    display: block;
  }
}
@media #{$tablet-width} {
  .price__list {
    width: 155px;
  }
  .price__item--feature {
    display: none;
  }
}
