.price {
  background-color: rgb(242, 242, 242);
}

.price__wrapper {
  @include container;
  display: flex;
  flex-direction: column;
}
.price__wrapper input[type="radio"] {
  display: none;
}
.price__nav {
  padding-top: 40px;
  padding-bottom: 47px;
}
#price-radio-1:checked ~ .price__list:nth-child(6),
#price-radio-2:checked ~ .price__list:nth-child(7),
#price-radio-3:checked ~ .price__list:nth-child(8) {
  display: block;
}
#price-radio-1:checked ~ .slider-nav label[for="price-radio-1"],
#price-radio-2:checked ~ .slider-nav label[for="price-radio-2"],
#price-radio-3:checked ~ .slider-nav label[for="price-radio-3"] {
  background-color: #000000;
}
@media #{$desktop-width} {
  .btn--hidden {
    display: none;
  }
  .price__wrapper {
    flex-direction: row;
    justify-content: center;
  }
}
@media #{$tablet-width} {
  .btn--hidden {
    display: none;
  }
  .price__wrapper {
    flex-direction: row;
    justify-content: center;
  }
}
