.promo-slogan {
  //background-color: $bg-darkblue;
  background: $bg-darkblue url("../img/bg-back-mobile.jpg") no-repeat center cover;
  //background-repeat: no-repeat;
  //background-position: center;
  //background-size: cover;
}
@media
(min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
  .promo-slogan {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: cover;
  }
}
.promo-slogan--index {
  background-image: url("../img/iphone-hand-mobile.png"), url("../img/bg-back-mobile.jpg");
  background-repeat:  no-repeat, no-repeat;
  background-position: left 39%, center;
  background-size: 258px, cover;
  padding-top: 184px;
}
@media
(min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
  .promo-slogan.promo-slogan--index {
    background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
    background-size: 258px, cover;
  }
}

.promo-slogan__container {
  width: 320px;
  //position: absolute;
  //top: 185px;
}
.promo-slogan__title{
  display: block;
  text-align: center;
  font-size: 24px;
  line-height: normal;
  font-weight: 100;
  color: #ffffff;
  margin: 0;
  padding: 102px 49px 52px 49px;
}
.promo-slogan__title.promo-slogan__title--index  {
  font-size: 40px;
  padding: 0 40px;
}



@media #{$tablet-width} {
  .promo-slogan.promo-slogan--index {
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom center, center;
    background-size: 700px, cover;
    padding-top: 205px;
  }
  .promo-slogan__title {
    font-size: 50px;
    padding: 158px 149px 78px 112px;
  }
  @media
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .promo-slogan.promo-slogan--index {
      background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
      background-size: 470px, cover;
    }
  }
  .promo-slogan__container {
    margin-left: 40px;
    width: 300px;
    //top: 200px;
  }
}
@media #{$desktop-width} {
  .promo-slogan__container {
    top: 231px;
    margin-left: 130px;
  }
  .promo-slogan__title.promo-slogan__title--form {
    padding: 48px 130px 78px 130px;
  }
  .promo-slogan.promo-slogan--index {
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop.jpg");
    background-position: bottom left 68%, center;
    background-size: 900px, cover;
    padding-top: 205px;
  }
  @media
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .promo-slogan.promo-slogan--index {
      background-image: url("../img/iphone-hand-desktop@2x.png"), url("../img/bg-back-desktop.jpg");
      background-size: 900px, cover;
    }
  }
}

