.promo-slogan.promo-slogan--form,
.promo-slogan.promo-slogan--photo {
  background-image: url("../img/bg-back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.promo-slogan.promo-slogan--index {
  background-color: $bg-darkblue;
  background-image: url("../img/iphone-hand-mobile.png"), url("../img/bg-back-mobile.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left 44%, center;
  background-size: 258px, cover;
  padding-top: 460px;
}

.promo-slogan__container {
  width: 300px;
  position: absolute;
  top: 213px;
  margin-left: 40px;
}

.promo-slogan__title {
  text-align: center;
  font-size: 40px;
  line-height: normal;
  font-weight: 100;
  color: #ffffff;
  margin: 0;
}
.promo-slogan__title.promo-slogan__title--form,
.promo-slogan__title.promo-slogan__title--photo {
  display: block;
  font-size: 24px;
  padding: 102px 49px 52px 49px;
}

@media #{$mobile-width-only} {
  .promo-slogan__title {
    display: none;
  }
}
@media #{$tablet-width} {
  .promo-slogan.promo-slogan--index {
    background-image: url("../img/iphone-hand-mobile.png"), url("../img/bg-back-mobile.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom center, center;
    background-size: 258px, cover;
    //padding-top: 460px;
  }
  .promo-slogan__title.promo-slogan__title--form {
    font-size: 50px;
    padding: 158px 149px 78px 112px;
  }
}
@media #{$desktop-width} {
  .promo-slogan__container {
    top: 231px;
    margin-left: 130px;
  }
  .promo-slogan__title.promo-slogan__title--form {
    padding: 48px 130px 78px 130px;
  }
}

