.users-photos-item {
  width: 100%;
  margin-bottom: 20px;
}
.users-photos__full-view {
  display: block;
}
.users-photos-item img {
  display: block;
  width: 100%;
}
@media #{$tablet-width} {
  .users-photos-item {
    width: 48.4%;
  }
}
@media #{$desktop-width} {
  .users-photos-item {
    width: 32%;
  }
}

